.container-fluid(style="padding-bottom: 147px").full-height
  .row.full-height
    .col-lg-1.full-height-lg
      h3.section-header.centered Players
      .column
    .col-lg-10.canvas
      h3.section-header.centered Canvas
    .col-lg-1.full-height-lg
      h3.section-header.centered Scouts
      .column
.container-fluid(style="margin-top: -147px")
  .row.footer-tw
    .col-lg-12
      h5 Some footer
