.container-fluid(style="padding-bottom: 150px").full-height
  .row.full-height
    .col-lg-1.full-height-lg
      .row
        .col-lg-12
          h3.section-header.centered Players
      .row.full-height-lg
        .col-lg-12.full-height-lg
          .column
    .col-lg-10.canvas
      .row
        .col-lg-12
          h3.section-header.centered Canvas
    .col-lg-1.full-height-lg
      .row
        .col-lg-12
          h3.section-header.centered Scouts
      .row.full-height-lg
        .col-lg-12.full-height-lg
          .column
.container-fluid(style="margin-top: -146px")
  .row.footer-tw
    .col-lg-12
      h5 Some footer
